body{
    background-color: rgba(128, 128, 128, 0.5);
}
.person{
    display: inline-block;
    width: 397px;
    background-color: grey;
    margin-bottom: 10px;
    text-align: center;
}

#fetchButton{
    margin: 0 auto;
    display: block;
    background-color: rgba(128, 128, 128, 0.75);
}
